* {
    box-sizing: border-box;
  }
  body {
      font-family: Helvetica;
      padding-top: 70px;
      margin: 0;
      height: 1000px;    
    }
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #000;
    }
    /* Risponsive header fängt an*/
    .header { 
      top: 0;
      width: 100%;
      position: fixed;
      z-index: 99;
      right: 0;
      left: 0;
      background-color: #fff;
      border-bottom: 1px solid #000000;
      padding: 0 0;
      background: transparent;
      backdrop-filter: blur(5px);
    }
    .header::after {
      content: "";
      display: table;
      clear: both;
    }
    .logo-und-name {
      float: left;
    }
    .logo-und-name h1 {
      font-size: x-large; /*1.5em*/
      font-weight: 800;
      margin: .9em 0 0 0;
      display: inline-block;
    }
    .logo-und-name img {
      max-width: 55px;
      float: left;
      margin: 7px 10px 8px 10px;
    } 
    .nav  .nav-header {
      display: inline;
    }
    .nav  .nav-header > .nav-title {
      display: inline-block;
      font-size: 22px;
      color: #000000;
      padding: 10px 10px 10px 10px;
    }
    .nav  .nav-btn {
      display: none;
    }
    .nav  .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
    }
    .nav  .nav-links > a {
      display: inline-block;
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      color: #000000;
    }
    .nav  .nav-links > a:hover {
      background-color: #fa0202bc;
      border-radius: 10px;
      border-bottom: 2px solid black;
    }
    .nav  #nav-check  {
      display: none;
    }
    .korb{
      margin: 0px;
      padding: 0px;
      height: 40px;
      width: 40px;
    }
    .loginsymbol{
      margin: 0px;
      padding: 0px;
      height: 40px;
      width: 40px;
    }
    
    .count-items{
      position: relative;
      bottom: 25px;
    }
    @media screen and (max-width: 920px) {
      .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(78, 65, 65, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 30px;
        height: 15px;
        border-top: 2px solid #000000;
      }
      .nav > .nav-links {
        position: fixed;
        z-index: 99;
        display: block;
        width: 40%;
        height: 50%;
        background-color: #df0a0a;
        transition: all 0.1s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 60%;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
        color: #000000;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0%;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(48vh - 10px);
        overflow-y: auto;
      }
    }

/*    hero    */
.hero{
    width: 100%;
    height: 550px;
    position: relative;
    background: url('./bilder/bg-bild2.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    backdrop-filter: blur(500px);
}

.hero:before {
    background: rgba(0, 0, 0, 0.418);
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.hero .caption{
    text-align: center;
    margin-top: 90px;
    position: relative;
    z-index: 5;
}

.hero .caption h1{
    color: #fff;
    font-family: "Arima Madurai";
    font-size: 90px;
    letter-spacing: -5px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.hero .caption h2{
    color: #fff;
    font-family: "Lato", arial;
    font-size: 25px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 100px 0 0 0;
    padding: 0;
    font-weight: normal;
}

.startpageMessage {
    color: #fff;
    font-family: "Lato", arial;
    font-size: 18px;
    margin: 40px 0 0 0;
}

.hero .caption .rsep,
.hero .caption .lsep{
    width: 40px;
    height: 1px;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
}

.hero .caption .rsep{
    margin-right: 20px;
    margin-left: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0px auto;
}
.text p {
    font-family: "Lato", arial;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 10px 50px ;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leitung{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 5px 5px #000000be;
    width: 70%;
    
}
.text2{
    font-family: "Lato", arial;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 15px 50px ;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text2 a{
    background-color: #0adf23c5;
    padding: 2px;
    border-radius: 5px;
}
.text3 p{
    font-family: "Lato", arial;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    background-color: #5cb3ff;
    margin-left: 25%;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 5px 5px hsla(208, 83%, 39%, 0.745);   
}

@media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 30%;
    }
    .card {
      height: 150px;
    }
    .card p {
      font-size: small;
      height: 100%;
    }
    .auswahl-btn{
      font-size: small;
    }
    .gericht-art1 {
      width: 96%;
      margin-left: 2.8%;
    }
    .gericht-art{
      width: 96%;
      margin-left: 2.8%;
    }
    .text3 p{
      width: 100%;
      padding: 20px;
      margin: 20px auto;
    }
    
  }  
  @media screen and (max-width: 600px) {
    .hero .caption h1{
        font-size: 70px;
    }
    .hero .caption h2{
        font-weight: 1px;
    }
    .startpageMessage {
        font-size: px;
    }
  }
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 30%;
    }
    .card {
      height: 130px;
    }
    .card p {
      font-size: xx-small;
      height: 100%;
    }
    .auswahl-btn{
      font-size: x-small;
    }
    .gericht-art1{
      width: 95%;
      margin-left: 2.8%;
    }
    .gericht-art{
      width: 95%;
      margin-left: 2.8%;
    }
    .hero .caption h1{
        font-size: 60px;
    }
    .hero .caption h2{
        font-weight:10px;
        margin: 50px 0 0 0;

    }
    .startpageMessage {
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .rsep{
      margin-right: 15px;
      margin-left: 15px;
    }
    
}
  @media screen and (max-width: 400px) {
  .logo-und-name h1 {
    font-size: 15px;
    font-weight: 900;
    margin-top: 10%;

  }
  .card p {
    font-size: x-small;
    font-weight: 400;
  }
  .menuname {
    font-size: 10px ;
    font-weight: 100;
  }
}


/* footer */

.site-footer
    {
    background-color:#26272b;
    padding:15px 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    }
    .site-footer hr
    {
    border-top-color:#bbb;
    opacity:0.5
    }
    .site-footer hr.small
    {
    margin:20px 0
    }
    .site-footer h6
    {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:1px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing:2px;
    }
    .heading{
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
    }
    .text-justify{
        margin: 15px auto;
        margin-left: 10px;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        margin-right: 10px;
    }
    .site-footer a
    {
    color:#737373;
    }
    .site-footer a:hover
    {
    color:#3366cc;
    text-decoration:none;
    }
    
    .copyright-text
    {
    margin: 0px;
    }
    @media (max-width:991px)
    {
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
    }
    @media (max-width:767px)
    {
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
    }
     