* {
  box-sizing: border-box;
}
body {
    font-family: Helvetica;
    padding-top: 70px;
    margin: 0;
    height: 1000px;    
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
  /* Risponsive header fängt an*/
  .header { 
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    right: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #000000;
    padding: 0 0;
    background: transparent;
    backdrop-filter: blur(5px);
  }
  .header::after {
    content: "";
    display: table;
    clear: both;
  }
  .logo-und-name {
    float: left;
  }
  .logo-und-name h1 {
    font-size: x-large; /*1.5em*/
    font-weight: 800;
    margin: .9em 0 0 0;
    display: inline-block;
  }
  .logo-und-name img {
    max-width: 55px;
    float: left;
    margin: 7px 10px 8px 10px;
  } 
  .nav  .nav-header {
    display: inline;
  }
  .nav  .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000000;
    padding: 10px 10px 10px 10px;
  }
  .nav  .nav-btn {
    display: none;
  }
  .nav  .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav  .nav-links > a {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #000000;
  }
  .nav  .nav-links > a:hover {
    background-color: #fa0202bc;
    border-radius: 10px;
    border-bottom: 2px solid black;
  }
  .nav  #nav-check  {
    display: none;
  }
  .korb{
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
  }
  .loginsymbol{
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 40px;
  }
  
  .count-items{
    position: relative;
    bottom: 25px;
  }
  
  @media screen and  (max-width:920px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(78, 65, 65, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 30px;
      height: 15px;
      border-top: 2px solid #000000;
    }
    .nav > .nav-links {
      position: fixed;
      z-index: 99;
      display: block;
      width: 40%;
      height: 50%;
      background-color: #df0a0a;
      transition: all 0.1s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 60%;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      color: #000000;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0%;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(48vh - 10px);
      overflow-y: auto;
    }
    
  }
  /* Bestelbilder und das erste gericht-art fängt an */ 
  .gericht-art1{
    width: 98%;
    background-color: #1c1b1b;
    color: #fff0f0;
    padding: 5px;
    margin-top: 1%;
    margin-left: 1%;
    padding-left: 3%;
    margin-bottom: 0%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
  }
  .menuname{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: small;
    color: #000000;
  }
  .preis{
    height: 0%;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
  }
  .auswahl-btn{
    height: 100%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    margin: 0%;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    background-color:rgb(3, 162, 8);
  }
  .auswahl-btn:hover{
    background-color: rgb(0, 108, 4);
  }
  .boxesContainer1{
    position: static;
    height: 0%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border-top: 1px solid black;
  }
  .cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.75%;
  }
  .cardBox:hover .card {
    transform: rotateY( 180deg);
  }
  .cardBox:last-child {
    margin-bottom: 1%;
  }
  .card .front .bild{
    width: 100%;
    height: 100%;
    ;
  }
  .card p {
    font-size: large;
    height: 100%;
  }
  .card .front,
  .card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0em;
    position: absolute;
    text-align: center; 
    width: 100%;
  }
  .cardBox img {
    object-fit:cover;
    height: 100%;

  }
  .card  strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }
  .card .back {
    transform: rotateY( 180deg);
  }
  .card .back  {
    padding: 0.3em 0.5em;
    background: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.3s ease 0s;
  }
  .card .back :hover {
    text-shadow: 0 0 1px #ffffff;
  }
  .cardBox:nth-child(2) .card .back {
    background: rgb(255, 0, 0);
  }
  .cardBox:nth-child(3) .card .back {
    background: orange;
  }
  .cardBox:nth-child(4) .card .back {
    background: rgb(106, 159, 0);
  }
  .cardBox:nth-child(5) .card .back {
    background: rgb(255, 0, 179);
  }
  .card {
    background: #222;
    cursor: pointer;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 3s 1;
  }

  /*
  .cardBox:nth-child(1) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
  }
  .cardBox:nth-child(2) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }
  .cardBox:nth-child(3) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
  }
  .cardBox:nth-child(4) .card {
    -webkit-animation: giro 3s 1;
    animation: giro 3s 1;
  }
  .cardBox:nth-child(5) .card {
    -webkit-animation: giro 3,5s 1;
    animation: giro 3.5s 1;
  }
  .cardBox:nth-child(6) .card {
    -webkit-animation: giro 4s 1;
    animation: giro 4s 1;
  }
  .cardBox:nth-child(6) .card {
    -webkit-animation: giro 4s 1;
    animation: giro 4s 1;
  }
  .cardBox:nth-child(7) .card {
    -webkit-animation: giro 4.5s 1;
    animation: giro 4.5s 1;
  }
  .cardBox:nth-child(8) .card {
    -webkit-animation: giro 5s 1;
    animation: giro 5s 1;
  }
  .cardBox:nth-child(9) .card {
    -webkit-animation: giro 5.5s 1;
    animation: giro 5.5s 1;
  }
  .cardBox:nth-child(10) .card {
    -webkit-animation: giro 6s 1;
    animation: giro 6s 1;
  }
  .cardBox:nth-child(11) .card {
    -webkit-animation: giro 6.5s 1;
    animation: giro 6.5s 1;
  }
  */
  @-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  @keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  /* hier fängt das zweite gericht-art an */
  .gericht-art{
    float: left;
    height: 50px;
    width: 98%;
    background-color: #1c1b1b;
    color: #fff0f0;
    padding: 5px;
    padding-left: 3%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 0%;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @media screen and (max-width: 767px) {
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 30%;
    }
    .card {
      height: 150px;
    }
    .card p {
      font-size: small;
      height: 100%;
    }
    .auswahl-btn{
      font-size: small;
    }
    .gericht-art1 {
      width: 96%;
      margin-left: 2.8%;
    }
    .gericht-art{
      width: 96%;
      margin-left: 2.8%;
    }
  }  
  @media screen and (max-width: 480px) {
    .cardBox {
      width: 30%;
    }
    .card {
      height: 130px;
    }
    .card p {
      font-size: xx-small;
      height: 100%;
    }
    .auswahl-btn{
      font-size: x-small;
    }
    .gericht-art1{
      width: 95%;
      margin-left: 2.8%;
    }
    .gericht-art{
      width: 95%;
      margin-left: 2.8%;
    }
  }
  @media screen and (max-width: 400px) {
  .logo-und-name h1 {
    font-size: 10px;
    font-weight: 700;
    margin-top: 13%;

  }
  .card p {
    font-size: x-small;
    font-weight: 400;
  }
  .menuname {
    font-size: 10px ;
    font-weight: 100;
  }
}
